html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
 
body {
  background-image: url("../images/coral-home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.title-box {
  background: rgba(255, 255, 255, 0.25);
  padding: 20px 50px;
  border-radius: 18px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
 
.title-box h1 {
  margin: 0;
  color: white;
  font-size: 64px;
  letter-spacing: 2px;
  text-align: center;
}