/* Grunddesign */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
color: white;

/* Fixer Hintergrund */
background-image: url("../images/bild-homepage.png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}

/* Navigation */
nav {
position: fixed;
top: 0;
width: 100%;
padding: 20px;
text-align: center;
background-color: rgba(0,0,0,0.4);
backdrop-filter: blur(6px);
z-index: 1000;
}

nav a {
color: white;
text-decoration: none;
margin: 25px;
font-weight: bold;
}

nav a:hover {
color: #ffd84d;
}

/* Titel */
.title-box {
position: absolute;
top: 46%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.titel {
font-size: 100px;
letter-spacing: 5px;
}

/* Inhalt */
.content {
margin-top: 100vh;
padding: 100px 15%;
}

/* Bild + Text */
.info-section {
display: flex;
gap: 50px;
align-items: center;
margin-top: 50px;
}

.info-section img {
width: 480px;
border-radius: 10px;
}

.content > div {
    margin-top: 1cm;
}

/* Abstand zwischen Überschrift und Text im Inhaltsbereich */
/* Sorgt für bessere Übersichtlichkeit und Lesbarkeit */
.content h2,
.content h3 {
    margin-bottom: 15px;
}

/* Slogan zentrieren */
.slogan {
    text-align: center;
    margin-top: 100px;
}

/* Ziele Präsenter*/

/* Aufzählungspunkte entfernen */
.goals ul {
    list-style: none;      /* entfernt die Punkte */
    padding-left: 0;       /* entfernt linken Abstand */
}

/* Ziele-Bereich zentrieren */
.goals {
    text-align: center;
}

/* Liste sauber ausrichten */
.goals ul {
    display: inline-block;  /* sorgt für saubere Zentrierung */
    text-align: left;       /* Text bleibt links ausgerichtet */
}
